@model IEnumerable<SistemaPV.Data.Entities.CCategory>

@{
    ViewData["Title"] = "Categorías";
}

<h1>Categorías</h1>

<p>
    <a asp-action="Create" class="button"><i class="bi bi-plus-lg"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-search"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
